---
apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: "49090"
    prometheus.io/scrape: "true"
  name: mktxp-exporter
  labels:
    app: mktxp-exporter
spec:
  type: ClusterIP
  selector:
    app: mktxp-exporter
  ports:
  - protocol: TCP
    port: 49090
    name: metrics
    targetPort: 49090
