apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto
###############################################    password_file /mosquitto/password_file
  labels:
    app.kubernetes.io/name: mosquitto
data:
  mosquitto.conf: |-
    allow_anonymous true
    autosave_interval 1800
    persistence true
    persistence_location /mosquitto
    persistence_file mosquitto.db
    protocol mqtt
    listener 1883
    listener 8883
    log_dest file /mosquitto/log/mosquitto.log
    log_dest stdout
    pid_file /mosquitto/mosquitto.pid
    cafile /mosquitto/config/certs/ca.crt
    certfile /mosquitto/config/certs/server.crt
    keyfile /mosquitto/config/certs/server.key
    require_certificate false
    socket_domain ipv4
    allow_zero_length_clientid true
    use_identity_as_username false
    tls_version tlsv1.2
