---
# replicaCount: 1
timezone: CET

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: 9100
  labels: {}
  type: LoadBalancer
  externalIPs: []
  loadBalancerIP: "192.168.40.185"
  ports:
  - port: 8090
    targetPort: 8090
    protocol: TCP
    name: port-spot
  - port: 8091
    targetPort: 8091
    protocol: TCP
    name: port-futures

##########
monitoring:
  enabled: true
  serviceMonitor:
    enabled: true
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: 9100
    labels: {}
    honorLabels: true
    interval: 60s
    selector: {}
    namespace: monitoring
    scrapeTimeout: 10s
    scheme: http
    tlsConfig: {}
    relabelings:
    - action: replace
      regex: ^(.*)$
      replacement: $1
      separator: ;
      sourceLabels:
      - [__meta_kubernetes_pod_node_name]
      targetLabel: nodename
    metricRelabelings:
    - action: keep
      regex: 'kube_(daemonset|deployment|pod|namespace|node|statefulset).+'
      sourceLabels:
      - [__name__]
    bearerTokenFile: {}
    # (use long lived access tokens)
    bearerTokenSecret: {}
      # name:
      # key:
      # optional:

livenessProbe:
  enabled: false
  scheme: HTTP
  periodSeconds: 60
  timeoutSeconds: 10
  successThreshold: 1
  failureThreshold: 6
  initialDelaySeconds: 30
readinessProbe:
  enabled: false
  scheme: HTTP
  periodSeconds: 60
  timeoutSeconds: 10
  successThreshold: 1
  failureThreshold: 6
  initialDelaySeconds: 30
startupProbe:
  enabled: true
  successThreshold: 1
  failureThreshold: 6

resources:
  limits:
    memory: 0.2Gi
    cpu: 250m
  requests:
    memory: 0.15Gi
    cpu: 100m

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  averageCPUUtilizationPercentage: 50
  averageMemoryUtilizationPercentage: 50

nodeSelector: []
  # kubernetes.io/hostname: dev-k3s-master-0
