---
apiVersion: v1
kind: Service
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "10"
    metallb.universe.tf/loadBalancerIPs: 192.168.40.183
  labels:
    app.kubernetes.io/name: homepage
  name: homepage
  namespace: dev
spec:
  type: LoadBalancer
  ports:
  - name: homepage
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app.kubernetes.io/name: homepage
